:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

*{
  padding:0; 
  margin:0;
  box-sizing: border-box;
}

html{
  font-family: 'Public Sans', sans-serif;
  font-size: 25%;
}

body{
  font-size: 18px;
  color:var(--Dark-Blue);

}

p{
  color: var(--Grayish-Blue);
  line-height: 1.5;

}

.header{
  display: flex;
  padding: 0 10%;
  background-color:var(--White);
  align-items: center;
  z-index: 4;
  position: relative;
}

.nav-background{
  flex-grow: 1;
  text-align: center;
}

.nav-group a{
  display: inline-block;
  font-weight: 400;
  font-size: 4rem;
  margin-right: 4rem;
  margin-left: 4rem;
  text-decoration: none;
  color: var(--Grayish-Blue);
  padding: 8rem 0;
}

.nav-group a:hover{
  color: var(--Dark-Blue);
  background-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1rem;
}

.request-button{
  padding: 3rem 7rem;
  font-size: 4rem;
  border-radius: 9rem;
  border:none;
  background: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  color:var(--White);
}

.request-button:hover{
  opacity: 0.7;
  cursor: pointer;
}

.menu-button, .close-button{
  display: none;
}

.section1{
  position: relative;
  background-color: var(--Very-Light-Gray);
  padding-left: 10%;
  height: 174rem;
  display: flex;
  align-items: center;
}

.section1-content{
  width: 460px;

}
.section1-content h1{
  font-size: 15rem;
  font-weight: 400;
}

.section1-content p{
  margin: 10rem 0 10rem 0;
}

.section1-image1{
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: -10rem -65rem;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width:195rem;
  height:175rem;
}

.section1-image2{
  background-image: url(images/image-mockups.png);
  background-repeat: no-repeat;
  background-position: 35rem -28rem;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 193rem;
  height: 198rem;
}

.section2{
  padding: 25rem 10% 20rem 10%;
  background-color: var(--Light-Grayish-Blue);
}

h2{
  font-size: 10rem;
  font-weight: 400;
}

.section2 > p{
  display: inline-block;
  margin: 10rem 0 10rem 0;
  max-width: 160rem;
}

.section2 .bank-features{
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}

.feature{
  max-width: 74rem;
}
.feature:not(:last-child){
  margin-right: 8rem;
}
.feature h3{
  font-weight: 400;
  font-size: 6rem;
  margin: 10rem 0 8rem 0;
}
.section1-image2 img{
  object-position: 35rem -28rem;
}

.section3{
  padding: 25rem 10% 20rem 10%;
  background-color: var(--Very-Light-Gray);
}

.section3 .Articles{
  display: flex;
  justify-content: space-between;
  margin-top: 12.5rem;
}

.Article{
  max-width: 74rem;
  background-color: var(--White);
  border-radius: 10px;
}
.Article:not(:last-child){
  margin-right: 8rem;
}

.Article img{
  width: 100%;
  height: 54rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-content{
  padding: 6rem 6rem;
}

.author{
  font-size: 3rem;
}

.article-content h3{
  font-size: 4.5rem;
  font-weight: 400;
  margin: 4rem 0;
}
.article-intro{
  font-size: 3.5rem;
}
footer{
  background-color: var(--Dark-Blue);
  display: flex;
  padding: 15rem 10%
}
.footer-logo{
  position: relative;
}
.footer-logo h4{
  color:var(--White);
  font-size: 5.5rem;
  position:absolute;
  top:-1rem;
  left: 8rem;
  font-weight: 700;
}

.socialnet-group{
  margin-top: 15rem
}

.socialnet-group img{
  margin-right: 2rem;
}
.socialnet-group img:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.footer-nav1{
  margin: 0 35rem;
}
.footer-nav1 p{
  color:var(--White);
  font-size: 4rem;
  width:fit-content;
  margin-bottom: 3.5rem;
}

.footer-nav2{
  flex-grow: 1;
}
.footer-nav2 p{
  color:var(--White);
  font-size: 4rem;
  width:fit-content;
  margin-bottom: 3.5rem;
}

.footer-nav1 p:hover, .footer-nav2 p:hover{
  color:var(--Lime-Green);
  transform: scale(1.1);
  cursor: pointer;
}
.Rights{
  text-align: right;
}
.Rights p{
  margin-top: 8rem;
  font-size: 4rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 800px){
  body{
    font-size: 4rem;
  }

  .nav-background{
    position: fixed;
    width: 100%;
    height:100%;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom,hsl(233, 26%, 24%, 0.7)  0%, hsl(0, 0%, 100%,0.5) 100%);
    display:none;
  }

  .active .nav-background{
    display: block;
  }
  .nav-group{
    display: block;
    background-color: var(--White);
    position: absolute;
    top: 6rem;
    padding: 4rem 4rem;
    left: 6%;
    border-radius: 5px;
    animation: zoom 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0);}
    to{transform: scale(1);}
  }

  .nav-group a{
    display: block;
    margin: 3rem 0 4rem 0;
    padding: 0 0;
    color: var(--Dark-Blue);
    width: 80vw;
    font-weight: 700;
    font-size: 4.5rem;

  }
  .header{
    width: 100%;
    display: block;
    position:fixed;
    padding: 4rem 7rem;
    top:0;
  }
  .logo{
    display: inline-block;
  }
  .menu-button{
    display: inline-block;
    position:absolute;
    right: 7rem;
    top: 5rem;
  }

  .close-button{
    display: none;
    position:absolute;
    right: 7.5rem;
    top: 4rem;
  }

  .active .close-button{
    display: inline-block;
  }
  .active .menu-button{
    display:none;
  }
  .main{
    margin-top: 56px
  }
  .section1{
    display: block;
    padding-left: 0;
    padding-bottom: 20rem;
    height:fit-content;
    text-align: center;
  }

  .section1-content{
    width:auto;
    padding: 0 7rem;
  }

  .section1-content h1{
    font-size: 10rem;
  }

  .header .request-button{
    display: none;
  }
  .section1-image1{
    display: none;
  }

  .section1-image2{
    display: none;
  }
  .mobile-image{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85rem;
    background-position-y: -12rem;
  }
  .mobile-image2{
    position: absolute;
    top:0;
    background-image: url("images/image-mockups.png");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center -30rem;
    height:90rem;
    width:100vw;
    z-index: 2;
  }

  .section2{
    text-align: center;
    padding: 15rem 7rem;
  }

  .section2 p{
    margin: 5rem 0;
  }

  h2{
    font-size: 8rem;
  }
  .section2 .bank-features{
    display:block;
    margin-top: 7rem;
  }

  .feature{
    margin-right: 0 !important;
    max-width: 100%;
  }
  .feature:not(:last-child){
    margin-bottom: 8rem;

  }

  .feature h3{
    margin: 5rem 0;
    font-size: 5rem;
  }

  .section3{
    text-align: center;
    padding: 20rem 7rem 15rem 7rem;
  }
  .section3 .Articles{
    display:block;
    margin-top: 7rem;
    text-align: left;
  }

  .Article{
    margin: 0 0 6rem 0 !important;
    max-width: 100%;
  }

  .article-content{
    padding-bottom: 10rem
  }
  .article-content h3{
    margin: 3rem 0;
  }

  .footer{
    display:block;
    text-align: center;
    padding: 12rem 0;
  }
  .footer-logo h4{
    left: 53%;
    transform: translateX(-50%);
  }

  .socialnet-group{
    margin-top: 8rem;
  }

  .footer-nav1{
    margin: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Rights{
    text-align: center;
  }
  .Rights .request-button{
    margin-top: 6rem;
  }
 
}
@media(max-width:800px) and (min-width: 400px){
    .section1-content{
      margin-top: 15rem;
    }
  }
  